<!doctype html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 分類檢索 Start -->
    <link rel="govtwsimpledc.xsd" href="http://www.gov.tw/schema/dc/" title="Dublin Core" />
    <meta name="DC.Title" content="基隆市安樂地政事務所全球資訊網 - 線上申辦 - 公告地價資料服務" />
    <meta name="DC.Creator" content="基隆市安樂地政事務所登記課" />
    <meta name="DC.Subject" content="基隆市安樂地政事務所 - 線上申辦 - 公告地價資料服務" />
    <meta name="DC.Description" content="線上申辦 - 公告地價資料服務" />
    <meta name="DC.Contributor" content="基隆市安樂地政事務所" />
    <meta name="DC.Type" content="文字" />
    <meta name="DC.Format" content="text/html" />
    <meta name="DC.Source" content="基隆市安樂地政事務所" />
    <meta name="DC.Language" content="中文" />
    <meta name="DC.Coverage.t.max" content="2015-04-26" />
    <meta name="DC.Coverage.t.min" content="2010-04-26" />
    <meta name="DC.Publisher" content="基隆市安樂地政事務所" />
    <meta name="DC.Date" content="2010-04-26 10:00 " />
    <meta name="DC.Identifier" content="376570600A" />
    <meta name="DC.Relation" content="http://anleh-land.gov.tw/" />
    <meta name="DC.Rights" content="基隆市安樂地政事務所" />
    <meta name="Category.Theme" content="140" />
    <meta name="Category.Cake" content="CKA" />
    <meta name="Category.Service" content="C11" />
    <!-- 主題分類:140地政/施政分類:CKA 地政資訊系統/服務分類:C11土地建物登記 -->
    <meta name="Keywords" content="線上申辦, 公告地價資料服務" />


    <!-- 分類檢索 End -->
    <meta name="Accessible_website" content="本網站通過通過AAA優先等級無障礙網頁檢測">
    <title>基隆市安樂地政事務所全球資訊網 - 線上申辦-公告地價資料服務</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="base/css/bootstrap.min.css">
    <link href="base/icon-css/all.min.css" rel="stylesheet">
    <link href="base/plugin/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="base/css/base.min.css" rel="stylesheet">
    <style>
    </style>
</head>

<body>
    <!-- 內文區 -->
    <div class="mt-3">
        <div class="row">
            <form class="m-auto" method="post" name="addForm">
                <div class="card">
                    <div class="card-header text-center">
<h4 class="text-info">網路申請公告地價資料服務申請表 (有＊記號的欄位必須填寫)</h4>
                    </div>
                    <div class="card-body p-0">
<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0" id="table02" summary="編排用表格">
    <caption>網路申請公告地價資料服務申請表 (有＊記號的欄位必須填寫)</caption>
    <tr>
        <th nowrap><label for="apply_name">申請人姓名</label></th>
        <td nowrap class="dline08"><span class="red" style="font-size:xx-small">＊</span>
            <input name="apply_name" type="text" class="textfield" size="15" id="apply_name" value="-請填寫-" onFocus="this.select()" /></td>
        <th nowrap><label for="apply_id">申請人身分證字號<br />或統一編號</label></th>
        <td nowrap class="dline08"><span class="red" style="font-size:xx-small">＊</span>
            <input name="apply_id" type="text" class="textfield" size="15" id="apply_id" value="-請填寫-" onFocus="this.select()" /></td>
        <th nowrap><label for="apply_tel">申請人住宅電話<br />或行動電話</label></th>
        <td colspan="3" nowrap class="dline08"><span class="red" style="font-size:xx-small">＊</span>
            <input name="apply_tel" type="text" class="textfield" size="23" id="apply_tel" value="-請填寫-" onFocus="this.select()" />
            <br />
            (例：02-24324001分機101 或 0911-101101)</td>
    </tr>
    <tr>
        <th nowrap><label for="purpose">申請目的</label></th>
        <td colspan="3" nowrap class="dline08"><label for="apply_id"><span class="red" style="font-size:xx-small">＊</span>
                <select name="purpose" class="textfield" id="purpose">
                    <option selected>-請選擇-</option>
                    <option value="(1)承租公司有土地">(1)承租公司有土地</option>
                    <option value="(2)申報地價參考">(2)申報地價參考</option>
                    <option value="(3)司法訴訟或調解">(3)司法訴訟或調解</option>
                    <option value="(4)其他">(4)其他</option>
                </select>
            </label></td>
        <th nowrap><label for="apply_add">申請人住址</label></th>
        <td colspan="3" nowrap class="dline08"><span class="red" style="font-size:xx-small">＊</span>
            <input name="apply_add" type="text" class="textfield" size="50" id="apply_add" value="-請填寫-" onFocus="this.select()" /></td>
    </tr>
    <tr>
        <th nowrap><label for="apply_email">申請人 Email</label></th>
        <td colspan="7" class="dline08">
            <input name="apply_email" type="text" class="textfield" size="40" id="apply_email" value="-請填寫-" onFocus="this.select()" /></td>
    </tr>
    <tr>
        <th nowrap><label for="area_1">鄉鎮市區 1</label></th>
        <td nowrap class="dline06"><span class="red" style="font-size:xx-small">＊</span>
            <SELECT Name="area_1" id="area_1" OnChange="Buildkey(this.selectedIndex);">
                <OPTION selected>-請選擇-</OPTION>
                <OPTION Value="02七堵區">02七堵區</OPTION>
                <OPTION Value="03暖暖區">03暖暖區</OPTION>
                <OPTION Value="05中山區">05中山區</OPTION>
                <OPTION Value="06安樂區">06安樂區</OPTION>
            </Select></td>
        <th nowrap><label for="sarea_1">段名及小段名 1</label></th>
        <td class="dline06"><span class="red" style="font-size:xx-small">＊</span>
            <select name="sarea_1" id="sarea_1">
                <option selected>--</option>
            </select></td>
        <th nowrap><label for="areano_1">地號 1</label></th>
        <td nowrap class="dline06"><span class="red" style="font-size:xx-small">＊</span>
            <input name="areano_1" type="text" class="textfield" size="15" id="areano_1" value="-請填寫-" onFocus="this.select()" />
            [ <a href="../search/search_01.asp" target="_blank" title="區段代碼對照查詢[開啟新視窗]">查詢</a> ]</td>
        <th nowrap><label for="areayear_1">年度 1</label></th>
        <td nowrap class="dline06"><span class="red" style="font-size:xx-small">＊</span>
            <select name="areayear_1" class="textfield" id="areayear_1">
                <option selected>-請選擇-</option>
                <option value="59年度">59年度</option>
                <option value="63年度">63年度</option>
                <option value="67年度">67年度</option>
                <option value="76年度">76年度</option>
                <option value="80年度">80年度</option>
                <option value="83年度">83年度</option>
                <option value="86年度">86年度</option>
                <option value="89年度">89年度</option>
                <option value="93年度">93年度</option>
                <option value="96年度">96年度</option>
                <option value="99年度">99年度</option>
            </select></td>
    </tr>
    <tr>
        <th nowrap><label for="area_2">鄉鎮市區 2</label></th>
        <td nowrap class="dline08">
            <SELECT Name="area_2" id="area_2" OnChange="Buildkey2(this.selectedIndex);">
                <OPTION selected>-請選擇-</OPTION>
                <OPTION Value="02七堵區">02七堵區</OPTION>
                <OPTION Value="03暖暖區">03暖暖區</OPTION>
                <OPTION Value="05中山區">05中山區</OPTION>
                <OPTION Value="06安樂區">06安樂區</OPTION>
            </Select></td>
        <th nowrap><label for="sarea_2">段名及小段名 2</label></th>
        <td class="dline08">
            <SELECT Name="sarea_2" id="sarea_2">
                <OPTION selected>--</OPTION>
            </Select></td>
        <th nowrap><label for="areano_2">地號 2</label></th>
        <td nowrap class="dline08">
            <input name="areano_2" type="text" class="textfield" size="15" id="areano_2" value="-請填寫-" onFocus="this.select()" />
            [ <a href="../search/search_01.asp" target="_blank" title="區段代碼對照查詢[開啟新視窗]">查詢</a> ] </td>
        <th nowrap><label for="areayear_2">年度 2</label></th>
        <td nowrap class="dline08"><select name="areayear_2" class="textfield" id="areayear_2">
                <option selected>-請選擇-</option>
                <option value="59年度">59年度</option>
                <option value="63年度">63年度</option>
                <option value="67年度">67年度</option>
                <option value="76年度">76年度</option>
                <option value="80年度">80年度</option>
                <option value="83年度">83年度</option>
                <option value="86年度">86年度</option>
                <option value="89年度">89年度</option>
                <option value="93年度">93年度</option>
                <option value="96年度">96年度</option>
                <option value="99年度">99年度</option>
            </select></td>
    </tr>
    <tr>
        <th nowrap><label for="area_3">鄉鎮市區 3</label></th>
        <td nowrap class="dline06"><SELECT Name="area_3" id="area_3" OnChange="Buildkey3(this.selectedIndex);">
                <OPTION selected>-請選擇-</OPTION>
                <OPTION Value="02七堵區">02七堵區</OPTION>
                <OPTION Value="03暖暖區">03暖暖區</OPTION>
                <OPTION Value="05中山區">05中山區</OPTION>
                <OPTION Value="06安樂區">06安樂區</OPTION>
            </Select></td>
        <th nowrap><label for="sarea_3">段名及小段名 3</label></th>
        <td class="dline06"><SELECT Name="sarea_3" id="sarea_3">
                <OPTION selected>--</OPTION>
            </Select></td>
        <th nowrap><label for="areano_3">地號 3</label></th>
        <td nowrap class="dline06"><input name="areano_3" type="text" class="textfield" size="15" id="areano_3" value="-請填寫-"
                onFocus="this.select()" /> [ <a href="../search/search_01.asp" target="_blank" title="區段代碼對照查詢[開啟新視窗]">查詢</a>
            ]</td>
        <th nowrap><label for="areayear_3">年度 3</label></th>
        <td nowrap class="dline06"><select name="areayear_3" class="textfield" id="areayear_3">
                <option selected>-請選擇-</option>
                <option value="59年度">59年度</option>
                <option value="63年度">63年度</option>
                <option value="67年度">67年度</option>
                <option value="76年度">76年度</option>
                <option value="80年度">80年度</option>
                <option value="83年度">83年度</option>
                <option value="86年度">86年度</option>
                <option value="89年度">89年度</option>
                <option value="93年度">93年度</option>
                <option value="96年度">96年度</option>
                <option value="99年度">99年度</option>
            </select></td>
    </tr>
    <tr>
        <th nowrap><label for="area_4">鄉鎮市區 4</label></th>
        <td nowrap class="dline08">
            <SELECT Name="area_4" id="area_4" OnChange="Buildkey4(this.selectedIndex);">
                <OPTION selected>-請選擇-</OPTION>
                <OPTION Value="02七堵區">02七堵區</OPTION>
                <OPTION Value="03暖暖區">03暖暖區</OPTION>
                <OPTION Value="05中山區">05中山區</OPTION>
                <OPTION Value="06安樂區">06安樂區</OPTION>
            </Select></td>
        <th nowrap><label for="sarea_4">段名及小段名 4</label></th>
        <td class="dline08">
            <SELECT Name="sarea_4" id="sarea_4">
                <OPTION selected>--</OPTION>
            </Select></td>
        <th nowrap><label for="areano_4">地號 4</label></th>
        <td nowrap class="dline08">
            <input name="areano_4" type="text" class="textfield" size="15" id="areano_4" value="-請填寫-" onFocus="this.select()" />
            [ <a href="../search/search_01.asp" target="_blank" title="區段代碼對照查詢[開啟新視窗]">查詢</a> ]</td>
        <th nowrap><label for="areayear_4">年度 4</label></th>
        <td nowrap class="dline08"><select name="areayear_4" class="textfield" id="areayear_4">
                <option selected>-請選擇-</option>
                <option value="59年度">59年度</option>
                <option value="63年度">63年度</option>
                <option value="67年度">67年度</option>
                <option value="76年度">76年度</option>
                <option value="80年度">80年度</option>
                <option value="83年度">83年度</option>
                <option value="86年度">86年度</option>
                <option value="89年度">89年度</option>
                <option value="93年度">93年度</option>
                <option value="96年度">96年度</option>
                <option value="99年度">99年度</option>
            </select></td>
    </tr>
    <tr>
        <th nowrap><label for="area_5">鄉鎮市區 5</label></th>
        <td nowrap class="dline06"><SELECT Name="area_5" id="area_5" OnChange="Buildkey5(this.selectedIndex);">
                <OPTION selected>-請選擇-</OPTION>
                <OPTION Value="02七堵區">02七堵區</OPTION>
                <OPTION Value="03暖暖區">03暖暖區</OPTION>
                <OPTION Value="05中山區">05中山區</OPTION>
                <OPTION Value="06安樂區">06安樂區</OPTION>
            </Select></td>
        <th nowrap><label for="sarea_5">段名及小段名 5</label></th>
        <td class="dline06"><SELECT Name="sarea_5" id="sarea_5">
                <OPTION selected>--</OPTION>
            </Select></td>
        <th nowrap><label for="areano_5">地號 5</label></th>
        <td nowrap class="dline06"><input name="areano_5" type="text" class="textfield" size="15" id="areano_5" value="-請填寫-"
                onFocus="this.select()" />
            [ <a href="../search/search_01.asp" target="_blank" title="區段代碼對照查詢[開啟新視窗]">查詢</a> ]</td>
        <th nowrap><label for="areayear_5">年度 4</label></th>
        <td nowrap class="dline06"><select name="areayear_5" class="textfield" id="areayear_5">
                <option selected>-請選擇-</option>
                <option value="59年度">59年度</option>
                <option value="63年度">63年度</option>
                <option value="67年度">67年度</option>
                <option value="76年度">76年度</option>
                <option value="80年度">80年度</option>
                <option value="83年度">83年度</option>
                <option value="86年度">86年度</option>
                <option value="89年度">89年度</option>
                <option value="93年度">93年度</option>
                <option value="96年度">96年度</option>
                <option value="99年度">99年度</option>
            </select></td>
    </tr>
    <tr>
        <th nowrap><label for="note">其他備註事項欄：</label></th>
        <td colspan="7" class="dline08"><select name="note" class="textfield" id="note">
                <option selected>-請選擇-</option>
                <option value="親自領取">親自領取</option>
            </select>
            ( 親自領件者請與本欄位註明，無則免填 )</td>
    </tr>
    <tr>
        <th nowrap>說明</th>
        <td colspan="7" class="dline05">1.若無法順利送出，請下載「基隆市安樂地政事務所公告地價網路作業申請書」，e-mail至「alland@anleh-land.gov.tw」。<br>
            2.依據內政部89年9月4日台(89)內地字第8912764號函，上開地段號之公告地價資料將以公文書方式核發。</td>
    </tr>
</table>

                </div>
                <h4 class="mt-4 text-info"><span class="fas fa-braille"></span> 網路申請檔案閱覽抄錄複製服務網頁問卷 (必須填寫)</h4>
                <p class="mt-3 mb-3 h5">為提供民眾更好的服務，請您協助填寫以下問卷，非常謝謝您的協助。</p>
                <div class="card">
                    <div class="card-body p-0">
                        <table class="table table-hover border-bottom rwd-table m-0" summary="編排用表格">
                            <caption class="sr-only">
                                網路申請檔案閱覽抄錄複製服務網頁問卷 (必須填寫)
                            </caption>
                            <tr>
                                <th class="text-nowrap table-success"><label for="qa_1">1.請問您從何處得知本所「網路申請檔案閱覽抄錄複製服務」？<span
                                            class="red">＊</span></label></th>
                            </tr>
                            <tr>
                                <td class="text-nowrap">
                                    <input name="qa_1" id="qa_11" type="radio" value="1" required>
                                    傳播媒體
                                    <input name="qa_1" id="qa_12" type="radio" value="2" required>
                                    報章雜誌
                                    <input name="qa_1" id="qa_13" type="radio" value="3" required>
                                    本所宣導品
                                    <input name="qa_1" id="qa_14" type="radio" value="4" required>
                                    親朋好友告知
                                    <input name="qa_1" id="qa_15" type="radio" value="5" required>
                                    自己發現
                                    <span id="errorQa1" class="invalidfeedback red">
                                        請填寫
                                    </span></td>
                            </tr>
                            <tr>
                                <th class="text-nowrap table-success"><label for="qa_2">2.請問您對於本所「網路申請檔案閱覽抄錄複製服務」網頁操作介面是否滿意？<span
                                            class="red">＊</span></label></th>
                            </tr>

                            <tr>
                                <td class="text-nowrap">
                                    <input name="qa_2" id="qa_21" type="radio" value="1">
                                    非常滿意
                                    <input name="qa_2" id="qa_22" type="radio" value="2">
                                    滿意
                                    <input name="qa_2" id="qa_23" type="radio" value="3">
                                    普通
                                    <input name="qa_2" id="qa_24" type="radio" value="4">
                                    不滿意
                                    <input name="qa_2" id="qa_25" type="radio" value="5">
                                    非常不滿意
                                    <span id="errorQa2" class="invalidfeedback red">
                                        請填寫
                                    </span></td>
                            </tr>

                            <tr>
                                <th class="text-nowrap table-success"><label for="qa_3">3.請問您認為「網路申請檔案閱覽抄錄複製服務」此項服務，能節省您多少時間？<span
                                            class="red">＊</span></label></th>
                            </tr>
                            <tr>
                                <td class="text-nowrap">
                                    <input name="qa_3" id="qa_31" type="radio" value="1">
                                    4小時以上
                                    <input name="qa_3" id="qa_32" type="radio" value="2">
                                    3-4小時
                                    <input name="qa_3" id="qa_33" type="radio" value="3">
                                    2-3小時
                                    <input name="qa_3" id="qa_34" type="radio" value="4">
                                    1-2小時
                                    <input name="qa_3" id="qa_35" type="radio" value="5">
                                    1小時以內
                                    <span id="errorQa3" class="invalidfeedback red">
                                        請填寫
                                    </span></td>
                            </tr>
                            <tr>
                                <th class="text-nowrap table-success"><label for="qa_4">4.總體而言，請問您對於本所「網路申請檔案閱覽抄錄複製服務」此項服務，是否滿意？<span
                                            class="red">＊</span></label></th>
                            </tr>
                            <tr>
                                <td>
                                    <input name="qa_4" id="qa_41" type="radio" value="1">
                                    非常滿意
                                    <input name="qa_4" id="qa_42" type="radio" value="2">
                                    滿意
                                    <input name="qa_4" id="qa_43" type="radio" value="3">
                                    普通
                                    <input name="qa_4" id="qa_44" type="radio" value="4">
                                    不滿意
                                    <input name="qa_4" id="qa_45" type="radio" value="5">
                                    非常不滿意
                                    <span id="errorQa4" class="invalidfeedback red">
                                        請填寫
                                    </span></td>
                            </tr>
                            <tr>
                                <th class="text-nowrap table-success"><label for="qa_5">5.請問您的職業是：<span class="red">＊</span></label></th>
                            </tr>
                            <tr>
                                <td>
                                    <input name="qa_5" id="qa_51" type="radio" value="1">
                                    地政士或不動產相關行業
                                    <input name="qa_5" id="qa_52" type="radio" value="2">
                                    銀行或金融業
                                    <input name="qa_5" id="qa_53" type="radio" value="3">
                                    軍公教
                                    <input name="qa_5" id="qa_54" type="radio" value="4">
                                    農漁商
                                    <input name="qa_5" id="qa_55" type="radio" value="5">
                                    自由業或其他
                                    <span id="errorQa5" class="invalidfeedback red">
                                        請填寫
                                    </span></td>
                            </tr>
                            <tr>
                                <th class="text-nowrap table-success">填寫日期：
                                    <% =date()%>
                                    <input name="wdate" type="hidden" id="wdate" value="<% =date()%>"></th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="mt-3 mb-3 text-right">
                    <button name="Submit2" type="reset" class="btn btn-default">重填</button>
                    <button name="action1" type="bottom" onClick="location.href='status.html'" class="btn btn-primary"><span
                            class=""></span>送出表單 <span class="fab fa-telegram-plane"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- /內文區 -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="base/js/jquery.min.js"></script>
    <script src="base/js/popper.min.js"></script>
    <script src="base/js/bootstrap.min.js"></script>
    <script src="base/plugin/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="base/plugin/bootstrap-datepicker/locales/bootstrap-datepicker.zh-TW.min.js"></script>

    <script src="base/js/base.js"></script>
    <script>
        $(document).ready(function () {
            $('[type="date"]').datepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                startDate: "today",
                clearBtn: true,
                calendarWeeks: true,
                todayHighlight: true,
                language: 'zh-TW'
            });
        });
    </script>
    <noscript>
        <div class="container">
            <div class="row">
                <div class="card m-3 banner">
                    <div class="card-body p-3">
                        您的瀏覽器不支援javascript，但不影響網頁內容陳述，如開啟JavaScript，可得到視覺與特效的最佳瀏覽
                        <br>列印功能：請按下ctrl+P開啟列印視窗,或由工具列中選擇列印功能
                        <br>如需要選擇字級大小，IE6請利用鍵盤按住ALT鍵+ V → X → (G)最大(L)較大(M)中(S)較小(A)小，來選擇適合您的文字大小，
                        而IE7或Firefox瀏覽器則可利用鍵盤 Ctrl
                        + (+)放大(-)縮小來改變字型大小，如需要回到上一頁可使用瀏覽器提供的 Alt+左方向鍵(←)
                    </div>
                </div>
            </div>
        </div>
    </noscript>
</body>

</html>