<!DOCTYPE html>
<html class="no-js css-menubar" lang="zh-Hant-TW">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">

    <title>基隆市安樂地政事務所-網站管理系統</title>

    <link rel="apple-touch-icon" href="../base/assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="../base/assets/images/apple-touch-icon.png">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../global/css/bootstrap.min.css">
    <link rel="stylesheet" href="../global/css/bootstrap-extend.min.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="../global/fonts/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="../base/assets/css/site.css">

    <style>
        @page {
            margin: 1cm;
            size: A4 portrait;
        }
        .print {
            page-break-after: always;
        }
        @media print {
            body {
                color: #000;
                font-family: "標楷體";
                padding: 0;
                margin: 0;
            }
            h1,h2,h3,h4,h5 {
                color: #000;
                font-family: "標楷體";
            }
            .printbtn {
                display: none;
            }
            .table-bordered {
                border: 1px solid #000000 !important;
            }
            .table-bordered td,
            .table-bordered th {
                border: 1px solid #000000 !important;
            }
            table.dataTable thead td,
            table.dataTable thead th {
                border-bottom: 2px solid #000000 !important;
            }
            .table-no-bordered {
                border-width: 0 !important;
            }

            .table-no-bordered td,
            .table-no-bordered th {
                border-width: 0 !important;
                padding:0;
            }
        }
        body {
            color: #000;
            padding-top: 20px !important;
            margin: 0;
        }
    </style>

    <!--[if lt IE 9]>
    <script src="global/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->

    <!--[if lt IE 10]>
    <script src="global/vendor/media-match/media.match.min.js"></script>
    <script src="global/vendor/respond/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="printbtn text-right">
        <a href="javascript:print();" class="btn btn-primary">列印</a>
    </div>

    <!-- Page -->
    <div class="page-content container-fluid" style="padding: 10px 30px">

        <!-- 內文編輯區 -->
        <div class="panel panel-bordered" style="box-shadow: none">
            <div class="panel-body">

                <table class="table table-no-bordered" style="margin-bottom:0">
                    <tr>
                        <td class="text-center">
                            <h3>基隆市安樂地政事務所-線上預約服務</h3>
                        </td>
                        <td class="text-left" style="width:20%">
                            編號：
                        </td>
                    </tr>
                </table>

                <table class="table table-striped table-bordered" style="margin-bottom:0">
                    <tr>
                        <th width="15%" rowspan="3" class="text-center" style="vertical-align:middle">申請人</th>
                        <td width="10%" class="text-center text-nowrap">姓名</td>
                        <td width="25%">
                            <% =apply_name %>
                        </td>
                        <th width="15%" rowspan="3" class="text-center" style="vertical-align:middle">代理人</th>
                        <td width="10%" class="text-center text-nowrap">姓名</td>
                        <td>
                            <% =agent_name %>
                        </td>
                    </tr>
                    <tr>
                        <td width="10%" class="text-center text-nowrap">出生日期</td>
                        <td width="25%">
                            <% =apply_birth %>
                        </td>
                        <td width="10%" class="text-center text-nowrap">出生日期</td>
                        <td>
                            <% =agent_birth %>
                        </td>
                    </tr>
                    <tr>
                        <td width="10%" class="text-center text-nowrap">統一編號</td>
                        <td width="25%">
                            <% =apply_id %>
                        </td>
                        <td width="10%" class="text-center text-nowrap">統一編號</td>
                        <td>
                            <% =agent_id %>
                        </td>
                    </tr>
                    <tr>
                        <th width="15%" class="text-center" style="background-color:#DDD">聯絡電話</th>
                        <td colspan="2" style="background-color:#DDD">
                            <% =apply_tel %>
                        </td>
                        <th width="15%" class="text-center" style="background-color:#DDD">電子信箱</th>
                        <td colspan="2" style="background-color:#DDD">
                            <% =apply_email %>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center text-nowrap" width="15%">※ 委任關係</th>
                        <td colspan="5">
                            <% If agent_re="1" then %>
                                <i class="icon fa-square" aria-hidden="true"></i>
                                <% Else %>
                                    <i class="icon fa-square-o" aria-hidden="true"></i>
                                    <% End If %>
                                        本申請案，係受申請人之委託，如有虛偽不實，願負法律責任。</td>
                    </tr>
                </table>


                <table class="table table-striped table-bordered" style="margin-bottom:0">
                    <tr>
                        <td style="background-color:#DDD">

                            <table class="table table-no-bordered" style="margin-bottom:0">
                                <tr style="background-color:rgba(221,221,221,1)">
                                    <td rowspan="3" class="text-nowrap">申請項目：</td>
                                    <td>
                                        <% If app_item_1="1" then %>
                                            <i class="icon fa-square" aria-hidden="true"></i>
                                            <% Else %>
                                                <i class="icon fa-square-o" aria-hidden="true"></i>
                                                <% End If %>
                                                    複印土地登記申請原案(收件字號： year_1 年 docitem_1 字第 no_1 號)，份數 copy_1
                                    </td>
                                </tr>
                                <tr style="background-color:rgba(221,221,221,1)">
                                    <td>
                                        If app_item_2="1" then
                                        <i class="icon fa-square" aria-hidden="true"></i>
                                        <% Else %>
                                            <i class="icon fa-square-o" aria-hidden="true"></i>
                                            <% End If %>
                                                複印信託專簿(收件字號： year_2 年 docitem_2 字第 no_2 號)，份數 copy_2
                                    </td>
                                </tr>
                                <tr style="background-color:rgba(221,221,221,1)">
                                    <td>
                                        <% If app_item_3="1" then %>
                                            <i class="icon fa-square" aria-hidden="true"></i>
                                            <% Else %>
                                                <i class="icon fa-square-o" aria-hidden="true"></i>
                                                <% End If %>
                                                    下班領取登記案件(收件字號： year_3 年 docitem_3 字第 no_3 號)
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td style="background-color:#DDD">

                            <table class="table table-no-bordered" style="margin-bottom:0">
                                <tr style="background-color:rgba(221,221,221,1)">
                                    <td rowspan="2" class="text-nowrap">申請用途：</td>
                                    <td>
                                        <% If purpose_1="1" then %>
                                            <i class="icon fa-square" aria-hidden="true"></i>
                                            <% Else %>
                                                <i class="icon fa-square-o" aria-hidden="true"></i>
                                                <% End If %>
                                                    購屋、貸款使用
                                                    <% If purpose_2="1" then %>
                                                        <i class="icon fa-square" aria-hidden="true"></i>
                                                        <% Else %>
                                                            <i class="icon fa-square-o" aria-hidden="true"></i>
                                                            <% End If %>
                                                                處理訴訟案件
                                                                <% If purpose_3="1" then %>
                                                                    <i class="icon fa-square" aria-hidden="true"></i>
                                                                    <% Else %>
                                                                        <i class="icon fa-square-o" aria-hidden="true"></i>
                                                                        <% End If %>
                                                                            政府機關申請案
                                                                            <% If purpose_4="1" then %>
                                                                                <i class="icon fa-square" aria-hidden="true"></i>
                                                                                <% Else %>
                                                                                    <i class="icon fa-square-o" aria-hidden="true"></i>
                                                                                    <% End If %>
                                                                                        自行參考 </td>
                                </tr>
                                <tr style="background-color:rgba(221,221,221,1)">
                                    <td>
                                        <% If purpose_5="1" then %>
                                            <i class="icon fa-square" aria-hidden="true"></i>
                                            <% Else %>
                                                <i class="icon fa-square-o" aria-hidden="true"></i>
                                                <% End If %> 其他：
                                                    <% =purpose_note %>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>
                <table class="table table-striped table-bordered" style="margin-bottom:0">
                    <tr>
                        <th class="text-center text-nowrap" width="15%">預約領件日期</th>
                        <td>
                            <% =get_appdate %>
                        </td>
                        <th width="15%">時間</th>
                        <td>
                            <% =get_apptime %>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center text-nowrap" width="15%" style="background-color:#DDD">其他備註事項欄</th>
                        <td colspan="3" style="background-color:#DDD">
                            <% =other_note %>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center text-nowrap">注意事項</th>
                        <td colspan="3">
                            <ol>
                                <li>本申請案如委託代理人代為申請，應填明代理人姓名、出生日期及身分證字號，並於委任關係欄勾選切結「本申請案，係受申請人之委託，如有虛偽不實，願負法律責任」。</li>
                                <li> 如非申請複印全案，請於其他備註事項欄個別敘明欲申請複印之文件名稱。</li>
                                <li> 填寫時如有任何問題請洽(02)24324001分機124 </li>
                            </ol>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="border-bottom-width: 0 !important">
                            <h3>此致 基隆市安樂地政事務所</h3>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="border-top-width: 0 !important">
                            <table class="table table-no-bordered" style="margin-bottom:0">
                                <tr>
                                    <td class="text-nowrap" width="14%">申請人簽章：</td>
                                    <td width="20%">&nbsp;</td>
                                    <td class="text-nowrap" width="16%">※代理人簽章：</td>
                                    <td width="20%">&nbsp;</td>
                                    <td class="text-nowrap" width="12%">申請日期：</td>
                                    <td> rs("wdate") </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <P class="print"></P>
                <table class="table table-no-bordered" style="margin-bottom:0">
                    <tr>
                        <td class="text-center">
                            <h3>線上預約服務網頁問卷</h3>
                        </td>
                    </tr>
                </table>
                <table class="table table-striped table-bordered" style="margin-bottom:0">
                    <tr>
                        <th class="text-left">1.請問您從何處得知本所「線上預約服務」？</th>
                    </tr>
                    <tr>
                        <td>
                            <% If qa_1="1" then %>
                                <i class="icon fa-square" aria-hidden="true"></i>
                                <% Else %>
                                    <i class="icon fa-square-o" aria-hidden="true"></i>
                                    <% End If %>
                                        傳播媒體

                                        <% If qa_1="2" then %>
                                            <i class="icon fa-square" aria-hidden="true"></i>
                                            <% Else %>
                                                <i class="icon fa-square-o" aria-hidden="true"></i>
                                                <% End If %>
                                                    報章雜誌

                                                    <% If qa_1="3" then %>
                                                        <i class="icon fa-square" aria-hidden="true"></i>
                                                        <% Else %>
                                                            <i class="icon fa-square-o" aria-hidden="true"></i>
                                                            <% End If %>
                                                                本所宣導品

                                                                <% If qa_1="4" then %>
                                                                    <i class="icon fa-square" aria-hidden="true"></i>
                                                                    <% Else %>
                                                                        <i class="icon fa-square-o" aria-hidden="true"></i>
                                                                        <% End If %>
                                                                            親朋好友告知

                                                                            <% If qa_1="5" then %>
                                                                                <i class="icon fa-square" aria-hidden="true"></i>
                                                                                <% Else %>
                                                                                    <i class="icon fa-square-o" aria-hidden="true"></i>
                                                                                    <% End If %>
                                                                                        自己發現

                                                                                        <% If qa_1="6" then %>
                                                                                            <i class="icon fa-square" aria-hidden="true"></i>
                                                                                            <% Else %>
                                                                                                <i class="icon fa-square-o" aria-hidden="true"></i>
                                                                                                <% End If %>
                                                                                                    其他：
                                                                                                    <% =qa_note %>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-left">2.請問您對於本所「線上預約服務」網頁操作介面是否滿意？</th>
                    </tr>
                    <tr>
                        <td>

                            <% If qa_2="1" then %>
                                <i class="icon fa-square" aria-hidden="true"></i>
                                <% Else %>
                                    <i class="icon fa-square-o" aria-hidden="true"></i>
                                    <% End If %>
                                        非常滿意

                                        <% If qa_2="2" then %>
                                            <i class="icon fa-square" aria-hidden="true"></i>
                                            <% Else %>
                                                <i class="icon fa-square-o" aria-hidden="true"></i>
                                                <% End If %>
                                                    滿意

                                                    <% If qa_2="3" then %>
                                                        <i class="icon fa-square" aria-hidden="true"></i>
                                                        <% Else %>
                                                            <i class="icon fa-square-o" aria-hidden="true"></i>
                                                            <% End If %>
                                                                普通

                                                                <% If qa_2="4" then %>
                                                                    <i class="icon fa-square" aria-hidden="true"></i>
                                                                    <% Else %>
                                                                        <i class="icon fa-square-o" aria-hidden="true"></i>
                                                                        <% End If %>
                                                                            不滿意

                                                                            <% If qa_2="5" then %>
                                                                                <i class="icon fa-square" aria-hidden="true"></i>
                                                                                <% Else %>
                                                                                    <i class="icon fa-square-o" aria-hidden="true"></i>
                                                                                    <% End If %>
                                                                                        非常不滿意
                        </td>
                    </tr>
                    <tr>
                        <th class="text-left">3.請問您認為「線上預約服務」此項服務，能節省您多少時間？</th>
                    </tr>
                    <tr>
                        <td>

                            <% If qa_3="1" then %>
                                <i class="icon fa-square" aria-hidden="true"></i>
                                <% Else %>
                                    <i class="icon fa-square-o" aria-hidden="true"></i>
                                    <% End If %>
                                        4小時以上

                                        <% If qa_3="2" then %>
                                            <i class="icon fa-square" aria-hidden="true"></i>
                                            <% Else %>
                                                <i class="icon fa-square-o" aria-hidden="true"></i>
                                                <% End If %>
                                                    3-4小時

                                                    <% If qa_3="3" then %>
                                                        <i class="icon fa-square" aria-hidden="true"></i>
                                                        <% Else %>
                                                            <i class="icon fa-square-o" aria-hidden="true"></i>
                                                            <% End If %>
                                                                2-3小時

                                                                <% If qa_3="4" then %>
                                                                    <i class="icon fa-square" aria-hidden="true"></i>
                                                                    <% Else %>
                                                                        <i class="icon fa-square-o" aria-hidden="true"></i>
                                                                        <% End If %>
                                                                            1-2小時

                                                                            <% If qa_3="5" then %>
                                                                                <i class="icon fa-square" aria-hidden="true"></i>
                                                                                <% Else %>
                                                                                    <i class="icon fa-square-o" aria-hidden="true"></i>
                                                                                    <% End If %>
                                                                                        1小時以內
                        </td>
                    </tr>
                    <tr>
                        <th class="text-left">4.總體而言，請問您對於本所「線上預約服務」此項服務，是否滿意？</th>
                    </tr>
                    <tr>
                        <td>

                            <% If qa_4="1" then %>
                                <i class="icon fa-square" aria-hidden="true"></i>
                                <% Else %>
                                    <i class="icon fa-square-o" aria-hidden="true"></i>
                                    <% End If %>
                                        非常滿意

                                        <% If qa_4="2" then %>
                                            <i class="icon fa-square" aria-hidden="true"></i>
                                            <% Else %>
                                                <i class="icon fa-square-o" aria-hidden="true"></i>
                                                <% End If %>
                                                    滿意

                                                    <% If qa_4="3" then %>
                                                        <i class="icon fa-square" aria-hidden="true"></i>
                                                        <% Else %>
                                                            <i class="icon fa-square-o" aria-hidden="true"></i>
                                                            <% End If %>
                                                                普通

                                                                <% If qa_4="4" then %>
                                                                    <i class="icon fa-square" aria-hidden="true"></i>
                                                                    <% Else %>
                                                                        <i class="icon fa-square-o" aria-hidden="true"></i>
                                                                        <% End If %>
                                                                            不滿意

                                                                            <% If qa_4="5" then %>
                                                                                <i class="icon fa-square" aria-hidden="true"></i>
                                                                                <% Else %>
                                                                                    <i class="icon fa-square-o" aria-hidden="true"></i>
                                                                                    <% End If %>
                                                                                        非常不滿意
                        </td>
                    </tr>
                    <tr>
                        <th class="text-left">5.請問您的職業是：</th>
                    </tr>
                    <tr>
                        <td>

                            <% If qa_5="1" then %>
                                <i class="icon fa-square" aria-hidden="true"></i>
                                <% Else %>
                                    <i class="icon fa-square-o" aria-hidden="true"></i>
                                    <% End If %>
                                        地政士或不動產相關行業

                                        <% If qa_5="2" then %>
                                            <i class="icon fa-square" aria-hidden="true"></i>
                                            <% Else %>
                                                <i class="icon fa-square-o" aria-hidden="true"></i>
                                                <% End If %>
                                                    銀行或金融業

                                                    <% If qa_5="3" then %>
                                                        <i class="icon fa-square" aria-hidden="true"></i>
                                                        <% Else %>
                                                            <i class="icon fa-square-o" aria-hidden="true"></i>
                                                            <% End If %>
                                                                軍公教

                                                                <% If qa_5="4" then %>
                                                                    <i class="icon fa-square" aria-hidden="true"></i>
                                                                    <% Else %>
                                                                        <i class="icon fa-square-o" aria-hidden="true"></i>
                                                                        <% End If %>
                                                                            農漁商

                                                                            <% If qa_5="5" then %>
                                                                                <i class="icon fa-square" aria-hidden="true"></i>
                                                                                <% Else %>
                                                                                    <i class="icon fa-square-o" aria-hidden="true"></i>
                                                                                    <% End If %>
                                                                                        自由業或其他
                        </td>
                    </tr>
                    <tr>
                        <th class="text-left">填寫日期：
                            <% =date()%>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /內文編輯區 -->

    </div>
    <!-- End Page -->

    <!-- Core  -->
    <script src="../global/vendor/jquery/jquery.js"></script>
    <script src="../global/vendor/bootstrap/bootstrap.js"></script>
</body>

</html>